.user {
    background-color: #000;
    padding: 5px 30px;
    max-width: 40px;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.users-tabs{
    display: flex;
    margin-top: 15px;
}

.user:hover{
    background-color: brown;
}

.user_active{
    background-color: grey;
}

button{
    position: absolute;
    top: 20px;
    right: 20px;
}

.info-block{
    display: none;
    background-color: grey;
    width: 40%;
    height: 200px;
    margin-top: 20px;
    position: relative;
    border-radius: 5px;
}

.info-block_active{
    display: block;
}

img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    width: 150px;
    border-radius: 5px;
}

.name{
    position: absolute;
    top: 30%;
    left: 45%;
}

.surname{
    position: absolute;
    top: 60%;
    left: 45%;
}

.ajax_error{
    display: none;
    background-color: red;
    width: 1000px;
    height: 200px;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 200px;
}

.ajax_error_active{
    display: block;
}